body{
    display: flex;
    justify-content: center;
    background-color:#7091F5;
    font-family: 'Delicious Handrawn', cursive;
    letter-spacing: 1px;

}
.container{
    margin-top: 1rem;
    border:2px solid transparent;
    border-radius: 20px;
    min-height: 500px;
    min-width: 350px;
    padding:0.5rem;
    box-shadow: 2px 3px 4px black;
    background: white;
   
    
background-size: 10px 35px;
background-image:  repeating-linear-gradient(0deg, rgb(156, 150, 114), rgb(245, 227, 127) 1px, #e5e5f7 1px, #e5e5f7);

    background-repeat: repeat;
    
}
.container h1{
    text-align: center;
    text-decoration: underline;
}

